<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<title>Strength &amp; Wellness</title>

<link rel="apple-touch-icon" sizes="57x57" href="../images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
<link rel="manifest" href="../images/favicon/manifest.json">

<!-- CSS  -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../css/materialize.min.css" type="text/css" rel="stylesheet"/>
<link href="../css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<link href="../css/style.css" type="text/css" rel="stylesheet"/>
</head>

<body>

  <!-- NAV -->

  <nav class="grey darken-4 center-align" role="navigation">
    <div class="nav-wrapper">
      <ul class="hide-on-med-and-down SW-center">
        <li><a id="logo-container" href="../views/index.html" class="brand-logo"><img src="../images/Logo_favicon.png" class="SW_logo" alt="S&amp;W"></a></li>
        <li class="hide"><a href="../views/personal_training.html">Träning & Hälsa</a></li>
        <li><a href="../views/travel.html">Resor</a></li>
        <li class="hide"><a href="../views/events.html">Events</a></li>
        <li class="hide"><a href="../views/sustainability.html">Hållbarhetsprojekt</a></li>
        <li class="hide"><a href="http://blog.strengthandwellness.me/sv_SE/">Blogg</a></li>
        <li><a href="../views/about.html">Om Oss</a></li>
        <li><a href="../views/contact.html">Kontakta Oss</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav blue-grey darken-4">
        <li><a href="../views/index.html">Hem</a></li>
        <li><a href="../views/personal_training.html">Träning & Hälsa</a></li>
        <li><a href="../views/travel.html">Resor</a></li>
        <li class="hide"><a href="../views/events.html">Events</a></li>
        <li class="hide"><a href="../views/sustainability.html">Hållbarhetsprojekt</a></li>
        <li class="hide"><a href="http://blog.strengthandwellness.me/sv_SE/">Blogg</a></li>
        <li><a href="../views/about.html">Om Oss</a></li>
        <li><a href="../views/contact.html">Kontakta Oss</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <br><br>

  <!-- END NAV -->

  <!--CONTENT -->

  <h3 class="center">Om Oss</h3>

  <div class="divider"></div>

  <br><br>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <h4 class="center">Vårat Team</h4>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="../images/BW_MS.jpg" alt="">
            <span class="card-title">Maria Schwenius</span>
            <span class="card-content">Grundare/PT/Hållbarhetscoach</span>
          </div>
            <div class="card-content">
              Jag har över femton års erfarenhet av träning och resande. Det är med stor glädje jag nu delarmed mig av min kunskap och de fantastiska upplevelser som världen erbjuder. Det är ävenmed stor stolthet som jag ser Strength&amp;Wellness arbetar för att hela tiden hitta alltmer hållbara lösningar för individen och för planeten.
            </div>
          </div>
        </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="../images/BW_S.jpg" alt="">
            <span class="card-title">Sofia Gunterberg</span>
            <span class="card-content">PT/Massör &amp; Kundsupport</span>
          </div>
            <div class="card-content">
              Är i grunden utbildad inom Biomedicin -inriktning fysisk träning där fokus på hållbarhet inom träning och hälsa står högst på listan. Jag kommer även arbeta med Strength&amp;Wellness på hemmaplan och vara kontaktperson här i Stockholm. 
            </div>
          </div>
        </div>
     <!-- <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="http://www.clipartkid.com/images/177/15-female-head-silhouette-free-cliparts-that-you-can-download-to-you-ruyZ8A-clipart.jpeg" alt="">
            <span class="card-title">Susanna Bates</span>
            <span class="card-content">PT/Brazilian Jiu-Jitsu specialist</span>
          </div>
            <div class="card-content">
              Mitt fokus ligger framför allt på funktionell träning och brasiliansk jiu-jitsu. Jag har femton års erfarenhet av att träna och instruera allt från golv till tai chi och bootcamp-träning. Det är fantastiskt att få lära människor det jag har lärt mig om träning och matvanor, och att få arbeta med andra för att förbättra deras livskvalitet!
            </div>
          </div>
        </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="http://www.clipartkid.com/images/177/15-female-head-silhouette-free-cliparts-that-you-can-download-to-you-ruyZ8A-clipart.jpeg" alt="">
            <span class="card-title">Maria Hagberg</span>
            <span class="card-content">Kostrådgivning/Friskvårdsterapeut</span>
          </div>
            <div class="card-content">
              Jag är utbildad PT och har min grund i modern dans. Jag är även koreograf och har en Master of Arts-examen i teoretiska dansstudier. Min kärnfilosofi, som guidar hela min träningsdesign, är att kroppen och sinnet är direkt sammankopplade.
            </div>
          </div>
        </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="http://images.all-free-download.com/images/graphiclarge/man_silhouette_clip_art_9510.jpg" alt="">
            <span class="card-title">Elizandro Reyes Zamora</span>
            <span class="card-content">Dansinstruktör för modern dans/Kuba Expert</span>
          </div>
            <div class="card-content">
              Är i grunden utbildad inom Biomedicin -inriktning fysisk träning där fokus på hållbarhet inom träning och hälsa står högst på listan. Jag kommer även arbeta med Strength&amp;Wellness på hemmaplan och vara kontaktperson här i Stockholm. 
            </div>
          </div>
        </div> -->
    </div>
  </div>
</div>

  <!--END CONTENT -->


  <!-- FOOTER -->
  <footer class="page-footer green darken-3 center-align">

    <div class="section SW_contact_us green darken-2">
      <div class="container">
        <div class="row">
          <div class="col s12">

          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
          <div class="nav-wrapper">
            <ul class="hide-on-med-and-down">
              <li class="SW_footer_menu">
                <a href="../views/index.html">Hem</a><span class="SW_break">|</span>
                <a class="hide" href="../views/personal_training.html">Träning & Hälsa</a><span class="SW_break">|</span>
                <a href="../views/travel.html">Resor</a><span class="SW_break">|</span>
                <a class="hide" href="../views/events.html">Events</a><!--<span class="SW_break">|</span>
                <a class="hide" href="../views/sustainability.html">Hållbarhetsprojekt</a><span class="SW_break">|</span>
                <a class="hide" href="http://blog.strengthandwellness.me/sv_SE/">Blogg</a><span class="SW_break">|</span> -->
                <a href="../views/about.html">Om Oss</a><span class="SW_break">|</span>
                <a href="../views/contact.html">Kontakta Oss</a>
              </li>
            </ul>
              <ul>
                <li class="SW_media">
                  <a href="https://www.facebook.com/strengthandwellness.se" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="SW_media">
                  <a href="https://www.instagram.com/strengthwellness" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                </li>
              </ul>
         </div>
      </div>
    </div>

    <div class="footer-copyright green darken-3">
      <div>
      &copy; 2015 <strong>Strength &amp; Wellness AB</strong>. All Rights Reserved.
      </div>
    </div>
  </footer>

  <!-- END FOOTER -->

  <!--  Scripts-->
  <script  src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script  src="../js/materialize.min.js"></script>
  <script  src="../js/main.js"></script>

  </body>
</html>
