<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<title>Strength &amp; Wellness</title>

<link rel="apple-touch-icon" sizes="57x57" href="../images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
<link rel="manifest" href="../images/favicon/manifest.json">

<!-- CSS  -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../css/materialize.min.css" type="text/css" rel="stylesheet"/>
<link href="../css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<link href="../css/style.css" type="text/css" rel="stylesheet"/>
</head>

<body>

  <!-- NAV -->

  <nav class="grey darken-4 center-align" role="navigation">
    <div class="nav-wrapper">
      <ul class="hide-on-med-and-down SW-center">
        <li><a id="logo-container" href="../views/index.html" class="brand-logo"><img src="../images/Logo_favicon.png" class="SW_logo" alt="S&amp;W"></a></li>
        <li class="hide"><a href="../views/personal_training.html">Träning & Hälsa</a></li>
        <li><a href="../views/travel.html">Resor</a></li>
        <li class="hide"><a href="../views/events.html">Events</a></li>
        <li class="hide"><a href="../views/sustainability.html">Hållbarhetsprojekt</a></li>
        <li class="hide"><a href="http://blog.strengthandwellness.me/sv_SE/">Blogg</a></li>
        <li><a href="../views/about.html">Om Oss</a></li>
        <li class="active"><a href="../views/contact.html">Kontakta Oss</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav blue-grey darken-4">
        <li><a href="../views/index.html">Hem</a></li>
        <li class="hide"><a href="../views/personal_training.html">Träning & Hälsa</a></li>
        <li><a href="../views/travel.html">Resor</a></li>
        <li class="hide"><a href="../views/events.html">Events</a></li>
        <li class="hide"><a href="../views/sustainability.html">Hållbarhetsprojekt</a></li>
        <li class="hide"><a href="http://blog.strengthandwellness.me/sv_SE/">Blogg</a></li>
        <li><a href="../views/about.html">Om Oss</a></li>
        <li class="active"><a href="../views/contact.html">Kontakta Oss</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <br><br>

  <!-- END NAV -->

  <div class="row">
    <h3 class="center-align">Kontakta Oss</h3>
  </div>

  <div class="divider"></div>


  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <iframe class="card" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2032.1490871549042!2d18.027360116263726!3d59.380539313957364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9c4cd8606583%3A0xbc9d73c0203f1308!2sM%C3%A5rdstigen+14%2C+170+75+Solna!5e0!3m2!1sen!2sse!4v1476715871617" width="100%" height="450" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

    <div class="section">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
            <h5>Kontakt</h5>
            <strong>Strength & Wellness AB Mårdstigen 14, 17075 Solna</strong>
              <p>
               <i class="fa fa-phone suitcase-mar"></i><a href="#">+4670-452 54 52</a>

              <p>
                <i class="fa fa-envelope suitcase-mar"></i><a href="mailto:info@strengthandwellness.me">info@strengthandwellness.se</a>
              </p>
        </div>
        <div class="col s12 m6">
          <form action="../views/contact.php" method="post">
        <div class="row">
            <div class="input-field">
              <input name="name" id="name" type="text" class="validate">
              <label for="name">Namn</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <input name="mail" id="email" type="text" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <input name="subject" id="subject" type="text" class="validate">
              <label for="Ärende">Ärende</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <textarea name="comment" id="comment" type="text" class="materialize-textarea"></textarea>
              <label for="comment">Din text</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <input name="msg" class="btn waves-effect waves-light orange darken-2 z-depth-2" type="submit" value="Skicka">
              <div id="msg" class="message"></div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <footer class="page-footer green darken-3 center-align">

    <div class="section SW_contact_us green darken-2">
      <div class="container">
        <div class="row">
          <div class="col s12">

          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
          <div class="nav-wrapper">
            <ul class="hide-on-med-and-down">
              <li class="SW_footer_menu">
                <a href="../views/index.html">Hem</a><span class="SW_break">|</span>
                <a class="hide" href="../views/personal_training.html">Träning & Hälsa</a><!--<span class="SW_break">|</span>-->
                <a href="../views/travel.html">Resor</a><span class="SW_break">|</span>
                <a class="hide" href="../views/events.html">Events</a><!--<span class="SW_break">|</span>
                <a class="hide" href="../views/sustainability.html">Hållbarhetsprojekt</a><span class="SW_break">|</span>
                <a class="hide" href="http://blog.strengthandwellness.me/sv_SE/">Blogg</a><span class="SW_break">|</span> -->
                <a href="../views/about.html">Om Oss</a><span class="SW_break">|</span>
                <a href="../views/contact.html">Kontakta Oss</a>
              </li>
            </ul>
              <ul>
                <li class="SW_media">
                  <a href="https://www.facebook.com/strengthandwellness.se" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="SW_media">
                  <a href="https://www.instagram.com/strengthwellness" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                </li>
              </ul>
         </div>
      </div>
    </div>

    <div class="footer-copyright green darken-3">
      <div>
      &copy; 2015 <strong>Strength &amp; Wellness AB</strong>. All Rights Reserved.
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script  src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script  src="../js/materialize.min.js"></script>
  <script  src="../js/main.js"></script>


  </body>
</html>
