<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<title>Strength &amp; Wellness</title>

<link rel="apple-touch-icon" sizes="57x57" href="../images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="../images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
<link rel="manifest" href="../images/favicon/manifest.json">

<!-- CSS  -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../css/transitions.css">
<link href="../css/materialize.min.css" type="text/css" rel="stylesheet"/>
<link href="../css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<link href="../css/style.css" type="text/css" rel="stylesheet"/>
</head>

<body>

  <!-- NAV -->

  <nav class="grey darken-4 center-align" role="navigation">
    <div class="nav-wrapper">
      <ul class="hide-on-med-and-down SW-center">
        <li><a id="logo-container" href="../views/index.html" class="brand-logo"><img src="../images/Logo_favicon.png" class="SW_logo" alt="S&amp;W"></a></li>
        <li><a href="../views/personal_training.html">Träning & Hälsa</a></li>
        <li><a href="../views/travel.html">Resor</a></li>
        <li class="hide"><a href="../views/events.html">Events</a></li>
        <li class="hide"><a href="../views/sustainability.html">Hållbarhetsprojekt</a></li>
        <li class="hide"><a href="http://blog.strengthandwellness.me/sv_SE/">Blogg</a></li>
        <li><a href="../views/about.html">Om Oss</a></li>
        <li><a href="../views/contact.html">Kontakta Oss</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav blue-grey darken-4">
        <li><a href="../views/index.html">Hem</a></li>
        <li><a href="../views/personal_training.html">Träning & Hälsa</a></li>
        <li><a href="../views/travel.html">Resor</a></li>
        <li class="hide"><a href="../views/events.html">Events</a></li>
        <li class="hide"><a href="../views/sustainability.html">Hållbarhetsprojekt</a></li>
        <li class="hide"><a href="http://blog.strengthandwellness.me/sv_SE/">Blogg</a></li>
        <li><a href="../views/about.html">Om Oss</a></li>
        <li><a href="../views/contact.html">Kontakta Oss</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <br><br>

  <!-- END NAV -->

  <!--CONTENT -->

  <h2 class="center">Kuba &amp; Havanna</h2>

  <div class="divider"></div>

  <br><br>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="SW-collage effect-parent effect-4">
          <img src="../images/cubacar.jpg" alt="cubacar">
          <img src="../images/Dumbbell_3.jpg" alt="cubawall">
          <img src="../images/Coaching.jpg" alt="Coaching">
          <img src="../images/Dumbbells.jpg" alt="Dumbbell">
          <img src="../images/nutrition.jpg" alt="food">
          <img src="../images/cubacar.jpg" alt="cubacar">
          <img src="../images/Dumbbell_3.jpg" alt="cubawall">
          <img src="../images/Coaching.jpg" alt="Coaching">
          <img src="../images/Dumbbells.jpg" alt="Dumbbell">
          <img src="../images/nutrition.jpg" alt="food">
          <img src="../images/cubacar.jpg" alt="cubacar">
          <img src="../images/Dumbbell_3.jpg" alt="cubawall">
          <img src="../images/Coaching.jpg" alt="Coaching">
          <img src="../images/Dumbbells.jpg" alt="Dumbbell">
          <img src="../images/nutrition.jpg" alt="food">
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="fancy_heading col s12 center">
              <h3>Kuba</h3>
              <div class="inside">
                Upplev det klassiska Kuba innan det ändras - följ med på banbrytande träningsresa!
              </div>
             <br>
              <i class="fa fa-2x fa-suitcase"></i>
          </div>
        </div>
      </div>
    </div>

    <br>

  <div class="parallax-container valign-wrapper">
    <div class="parallax cuba"></div>
  </div>
<br>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h3>Årets träningsresa!</h3>
        <p>Sol i november? Semester, upplevelser och träning? Välkommen med på en oförglömlig och unik resa till årets resedestination! Tillsammans upplever vi det klassiska Kuba precis som landet står inför stora förändringar. Trycket på höstens resor till Kuba är högt men våra skickliga medarbetare har säkrat platser.</p>
      </div>
      <br><br><br><br><br>
      <div class="col s12 m6 collection center">
        <li class="collection-item">18:e Mar - 1:a Apr</li>
        <li class="collection-item">Stockholm, Arlanda</li>
        <li class="collection-item">Viñales/Havanna/Trinidad</li>
        <li class="collection-item">10 - 20 Personer</li>
        <li class="collection-item"><h4>29.000:-</h4></li>
        <a href="../programblad_kuba.pdf" target="_blank"><li class="collection-item btn waves-effect waves-light orange darken-2 z-depth-2">Till programblad</li></a><br>
      </div>
    </div>
  </div>
</div>

  <!--END CONTENT -->


  <!-- FOOTER -->
  <footer class="page-footer green darken-3 center-align">

    <div class="section SW_contact_us green darken-2">
      <div class="container">
        <div class="row">
          <div class="col s12">

          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
          <div class="nav-wrapper">
            <ul class="hide-on-med-and-down">
              <li class="SW_footer_menu">
                <a href="../views/index.html">Hem</a><span class="SW_break">|</span>
                <a href="../views/personal_training.html">Träning & Hälsa</a><span class="SW_break">|</span>
                <a href="../views/travel.html">Resor</a><span class="SW_break">|</span>
                <a class="hide" href="../views/events.html">Events</a><!--<span class="SW_break">|</span>
                <a class="hide" href="../views/sustainability.html">Hållbarhetsprojekt</a><span class="SW_break">|</span>
                <a class="hide" href="http://blog.strengthandwellness.me/sv_SE/">Blogg</a><span class="SW_break">|</span> -->
                <a href="../views/about.html">Om Oss</a><span class="SW_break">|</span>
                <a href="../views/contact.html">Kontakta Oss</a>
              </li>
            </ul>
              <ul>
                <li class="SW_media">
                  <a href="https://www.facebook.com/strengthandwellness.me" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="SW_media">
                  <a href="https://www.instagram.com/strengthwellness" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                </li>
              </ul>
         </div>
      </div>
    </div>

    <div class="footer-copyright green darken-3">
      <div>
      &copy; 2015 <strong>Strength &amp; Wellness AB</strong>. All Rights Reserved.
      </div>
    </div>
  </footer>

  <!-- END FOOTER -->

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/jquery.collagePlus.min.js"></script>
  <script src="../js/materialize.min.js"></script>
  <script src="../js/main.js"></script>

  </body>
</html>
