<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<title>Strength &amp; Wellness</title>

<link rel="apple-touch-icon" sizes="57x57" href="../images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../images/favicon/apple-icon-144x144.png">
<link rel="apple-touc../images/cubacar.jpg" alt=hCuba bilen"-icon" sizes="152x152" href="../images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
<link rel="manifest" href="../images/favicon/manifest.json">

<!-- CSS  -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../css/materialize.min.css" type="text/css" rel="stylesheet"/>
<link href="../css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<link href="../css/style.css" type="text/css" rel="stylesheet"/>

</head>

<body>

  <!-- NAV -->

  <nav class="grey darken-4 center-align" role="navigation">
    <div class="nav-wrapper">
      <ul class="hide-on-med-and-down SW-center">
        <li><a id="logo-container" href="../views/index.html" class="brand-logo active"><img src="../images/Logo_favicon.png" class="SW_logo" alt="S&amp;W"></a></li>
        <li class="hide"><a href="../views/personal_training.html">Träning & Hälsa</a></li>
        <li><a href="../views/travel.html">Resor</a></li>
        <li class="hide"><a href="../views/events.html">Events</a></li>
        <li class="hide"><a href="../views/sustainability.html">Hållbarhetsprojekt</a></li>
        <li class="hide"><a href="http://blog.strengthandwellness.me/sv_SE/">Blogg</a></li>
        <li><a href="../views/about.html">Om Oss</a></li>
        <li><a href="../views/contact.html">Kontakta Oss</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav blue-grey darken-4">
        <li class="active"><a href="../views/index.html">Hem</a></li>
        <li><a href="../views/personal_training.html">Träning & Hälsa</a></li>
        <li><a href="../views/travel.html">Resor</a></li>
        <li class="hide"><a href="../views/events.html">Events</a></li>
        <li class="hide"><a href="../views/sustainability.html">Hållbarhetsprojekt</a></li>
        <li class="hide"><a href="http://blog.strengthandwellness.me/sv_SE/">Blogg</a></li>
        <li><a href="../views/about.html">Om Oss</a></li>
        <li><a href="../views/contact.html">Kontakta Oss</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <br><br>

  <!-- END NAV -->


  <!-- CAROUSEL -->

<div class="section">
  <div class="row">
        <div class="carousel carousel-slider">
          <a class="carousel-item" href="../views/cuba.html"><img src="http://lorempixel.com/800/400/food/1"></a>
          <a class="carousel-item" href="../views/cuba.html"><img src="http://lorempixel.com/800/400/food/2"></a>
          <a class="carousel-item" href="../views/cuba.html"><img src="http://lorempixel.com/800/400/food/3"></a>
          <a class="carousel-item" href="../views/cuba.html"><img src="http://lorempixel.com/800/400/food/4"></a>
        </div>
  </div>
</div>

  <!-- END CAROUSEL -->


   <!--   WELCOME   -->

  <div class="container">
    <div class="section">
        <div class="row">
        <div class="col s12 m3 m9-pull">
          <div class="icon-block">
            <img class="responsive-img" src="../images/Logo_favicon.png" alt="Strength&amp;Wellness"/>
          </div>
        </div>
        <div class="col s12 m9 m3-push">
          <h1 style="padding-top: 30px;">Välkommen till <br> Strength &amp; Wellness</h1>
        </div>
        </div>
      </div>
    </div>
  </div>


<br><br>
   <!--   END WELCOME   -->

   <!-- STRENGTH AND WELLNESS -->

  <div class="container">
    <div class="section valign-wrapper">
      <div class="row">

        <div class="col s12 center">
          <h2>Vilka är vi</h2>
        </div>

        <div class="col s12 m6">
          <p>
            Vi är Sverigeledande inom hälso- och träningsresor till Latinamerika. Vi finns för att guida dig till bättre hälsa, ökat välbefinnande och oförglömliga upplevelser! Våra resor ger dig både verktygen att fortsätta med din träning hemma och du får testa på aktiviteter som är speciella för destinationen dit vi åker. Vill du sedan följa upp din träning eller kost så erbjuder vi även personlig träning och kostrådgivning i Stockholm.
          </p>
          <p>
            Är du redo att göra träningen till något utöver de vanliga repetitionerna, tyngderna och Workout of the days (WODs) – då finns vi här för dig! Kontakta oss direkt för att sätta upp ett personligt möte så ser vi hur Dina önskningar och mål bäst kan uppfyllas.
          </p>
        </div>

        <div class="col s12 m6">
          <p>
            Vi i teamet har över femton års erfarenhet av träning, resor och hållbarhetsfrågor. Vi finns på ett flertal ställen i Stockholm och ofta finner du oss även i Latinamerika, framför allt Mexiko. Vi utvecklar kontinuerligt vårat utbud av resedestinationer, aktiviteter och hållbarhetsprojekt så följ oss här, på Facebook eller på Instagram för att hålla dig uppdaterad!
          </p>
          <p>
            Med oss bidrar ditt fokus på ökat välmående även till att vi kan stödja välmåendet hos andra människor och hos miljön. Vi strävar även efter att vara ledande på hållbarhet inom träningsvärlden, därför går en del av alla våra intäkter till olika hållbarhetsprojekt. Vi söker även de bästa alternativen inom kläder, mat och transport.
          </p>
        </div>

      </div>
    </div>
  </div>

    <!-- END STRENGTH AND WELLNESS -->

<!-- BRAZIL -->

  <div class="container">
    <div class="section">
      <div class="row">
          <div class="fancy_heading col s12 center-align">
              <h2>Brasilien</h2>
              <div class="inside">
                Stränder, capoeira, brasiliansk jujutsu (BJJ), samba - upptäck Rio och kusten på riktigt!
              </div>
             <br>
              <i class="fa fa-2x fa-suitcase"></i>
          </div>
      </div>
    </div>
  </div>

  <br>

  <div class="parallax-container valign-wrapper">
    <div class="parallax brazil"></div>
  </div>

  <br><br>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 l6">
          <h3>Brasilien</h3>
          <p>
            Våra resor till Brasilien är ett måste för alla som är nyfikna på vad Rio och kusten verkligen har att erbjuda! Vi börjar i Rio där vi upplever både staden och stranden. Sedan fortsätter vi utanför staden och spenderar de sista dagarna i småsamhällen längs kusten. Vi upplever lugna stränder och den fantastiska grönska som Brasilien är känt för och som bidrar till att göra landet till det land i världen som har högst biologisk mångfald. Som alltid inom våra resor erbjuder vi personlig träning i smågrupper. Vår Rio-resa erbjuder även till exempel yoga och stand-up paddling för dem som vill ta det lite lugnare. För dem som är sugna på att köra på erbjuder vi capoeira och brasiliansk jujutsu. Naturligtvis går vi ut och testar på sambarytmerna!
          </p>

          <p><em>
            Brasilienresorna avgår två gånger per år: mars och oktober. Varje resa tar två veckor. Ytterligare veckor går att ordna, bara hör av dig till oss vid intresse.
          </em></p>
          <a href="../views/brazil.html" class="waves-effect waves-light btn orange darken-2 z-depth-2">TIll Brasilien!</a>
        </div>
        <div class="col s12 l6">
          <img class="responsive-img SW_img" src="../images/rio.jpg" alt="Rio De Janeiro">
        </div>
      </div>
    </div>
  </div>
      
    <!-- END BRAZIL -->

  <br><br>

  <br><br>

  <!-- CUBA -->

  <div class="container">
    <div class="section">
      <div class="row">
          <div class="fancy_heading col s12 center-align">
              <h2>Kuba</h2>
              <div class="inside">
                Upplev det klassiska Kuba innan det ändras - följ med på banbrytande träningsresa!
              </div>
             <br>
              <i class="fa fa-2x fa-suitcase"></i>
          </div>
      </div>
    </div>
  </div>

  <br>

  <div class="parallax-container valign-wrapper">
    <div class="parallax cuba"></div>
  </div>

  <br><br>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 l6">
          <h3>Kuba</h3>
          <p>
            Transportera dig bakåt i tiden till en plats där 50-talsbilar trafikerar soliga gator, internet knappt existerar och salsarytmerna flödar. Vi ger dig Kuba – en unik plats på jorden! Turismen står nu inför en explosionsartad ökning så landet kommer snabbt att börja förändras. Under resan ser vi den legendariska huvudstaden Havanna, det historiska tobaksproducerande området Viñales och sockerrörsproduktionens centrum Trinidad. Vi är stolta att vara banbrytande inom att erbjuda träningsresor dit så häng med oss - det är nu som Kuba skall upplevas!
          </p>
          <a href="../views/cuba.html" class="waves-effect waves-light btn orange darken-2 z-depth-2">TIll Kuba!</a>
        </div>
        <div class="col s12 l6">
          <img class="responsive-img SW_img" src="../images/cubacar.jpg" alt="cubacar">
        </div>
      </div>
    </div>
  </div>

<!-- END CUBA -->

  <br><br>


  <!-- MEXICO -->

  <div class="container">
    <div class="section">
      <div class="row">
          <div class="fancy_heading col s12 center-align">
              <h2>Mexiko</h2>
              <div class="inside">
                Sätt krydda på tillvaron – åk med oss till Mexiko! 
              </div>
             <br>
              <i class="fa fa-2x fa-suitcase"></i>
          </div>
      </div>
    </div>
  </div>

  <br>

  <div class="parallax-container valign-wrapper">
    <div class="parallax mexico"></div>
  </div>

  <br><br><br>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 l6">
          <h3>Mexiko</h3>
          <p>
            Från de hippaste crossfit-centren till en lång tradition av boxning; från trendiga Mexico city till mångtusenåriga ursprungskulturer såsom aztek och maya; från ständigt skiftande stadslandskap till en av världens rikaste biologiska mångfald och långa sandstränder med klarblått havsvatten. Då har vi inte ens nämnt att landet är en av världens främsta kulinariska hot spots… Välkomna att upptäcka det bästa Mexiko har att erbjuda, landet som ständigt fortsätter att hänföra! Bli inte förvånad om dina första två veckor här bara blir början på en lång förälskelse. 
          </p>
          <a href="../views/mexico.html" class="waves-effect waves-light btn orange darken-2 z-depth-2">TIll Mexiko!</a>
        </div>
        <div class="col s12 l6">
          <img class="responsive-img SW_img" src="../images/river.jpeg" alt="river">
        </div>
      </div>
    </div>
  </div>

<!-- END MEXICO -->

  <footer class="page-footer green darken-3 center-align">

    <div class="section SW_contact_us green darken-2">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h3 id="SW_indexcontact">Boka din plats idag genom att kontakta oss!</h3>
            <a href="contact.html" class="waves-effect waves-light btn orange darken-2 z-depth-2"><i class="fa fa-suitcase suitcase-mar"></i>Kontakta Oss</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
          <div class="nav-wrapper">
            <ul class="hide-on-med-and-down">
              <li class="SW_footer_menu">
                <a href="../views/index.html">Hem</a><span class="SW_break">|</span>
                <a class="hide" href="../views/personal_training.html">Träning & Hälsa</a><span class="SW_break"></span>
                <a href="../views/travel.html">Resor</a><span class="SW_break">|</span>
                <a class="hide" href="../views/events.html">Events</a><!--<span class="SW_break">|</span>
                <a class="hide" href="../views/sustainability.html">Hållbarhetsprojekt</a><span class="SW_break">|</span>
                <a class="hide" href="http://blog.strengthandwellness.me/sv_SE/">Blogg</a><span class="SW_break">|</span> -->
                <a href="../views/about.html">Om Oss</a><span class="SW_break">|</span>
                <a href="../views/contact.html">Kontakta Oss</a>
              </li>
            </ul>
              <ul>
                <li class="SW_media">
                  <a href="https://www.facebook.com/strengthandwellness.se" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="SW_media">
                  <a href="https://www.instagram.com/strengthwellness" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                </li>
              </ul>
         </div>
      </div>
    </div>

    <div class="footer-copyright green darken-3">
      <div>
      &copy; 2015 <strong>Strength &amp; Wellness AB</strong>. All Rights Reserved.
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script  src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script  src="../js/materialize.min.js"></script>
  <script  src="../js/main.js"></script>

  </body>
</html>
